---
layout: post 
blog_name: 吞枣的博客
---

<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} - {{ page.blog_name }}</title>
	<meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="/assets/css/master.css"/>
	<link rel="stylesheet" media="screen" href="/assets/css/markdown.css"/>
	<link rel="stylesheet" media="screen" href="/assets/css/syntax.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    {{ page.custom_css }}
    {% if page.flappy %} 
        <script src="/assets/js/phaser.min.js"></script>
        <script src="/assets/js/load.js"></script>
        <script src="/assets/js/menu.js"></script>
        <script src="/assets/js/play.js"></script>
        <script src="/assets/js/game.js"></script>
    {% endif %}
</head>
<body >
	<div class="container" id="container">
		{% include header.html %}
		<div id="content">
		<section id="main" class="group">
		{{ content }} 
		</section>
		<div class='tags'>
			{% for tag in page.tags %}
				<a href='/tags/{{ tag }}' class='tag'>{{ tag }}</a>
			{% endfor %}	
		</div>
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1787587"></script>
        <!-- UY END -->

		</div>
	</div>
	{% include footer.html %}
</body>
</html>
