---
layout: post 
title: 吞枣的博客
---

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" media="screen" href="/assets/css/master.css"/>
	<link rel="stylesheet" media="screen" href="/assets/css/markdown.css"/>
	<link rel="stylesheet" media="screen" href="/assets/css/syntax.css"/>
</head>
<body>
	<div id="container">
		<header class="group">
			<div class="header-inner">
			<h1 class="logo"><a href="/">吞枣的博客</a></h1>
			</div>
		</header>
		<div id="content">
		<section id="main" class="group">
		{{ content }} 
		<div>
			<a href="/">返回首页</a>
		</div>
		</section>
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1787587"></script>
        <!-- UY END -->

		</div>
	</div>
</body>
</html>
